<% include partials/_header %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <% if (data.length > 0) { %>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>    
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].name %></td>
                            <td><%= data[i].address %></td>
                            <td><%= data[i].phone %></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a> 
                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Editar</a> 
                            </td>
                        </tr>
                    <% } %>

                </tbody>
            </table>
            <% } else { %>
                <h2>No hay alumnos registrados</h2>
            <% } %>
        </div>
        <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                    <form class="" action="/add" method="POST">
                        <div class="form-group"> 
                            <input type="text" name="name" id="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group"> 
                            <input type="text" name="address" id="address" placeholder="Address" class="form-control">
                        </div>
                        <div class="form-group"> 
                            <input type="text" name="phone" id="phone" placeholder="Phone" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                
                    </form>

              </div>

          </div>
        </div>

    </div>
    
</div>

<% include partials/_footer %>
